<div class="config">
	<h1 class="config__title">Settings</h1>
	<p class="config__hint">All settings are stored automatically.</p>
	<h2 class="config__section">Keys</h2>
	<p>Click a button and press a key, you want to assign.</p>
	<key-config class="config__key" label="Set Next Key" ng-model="config.keys.next"></key-config>
	<key-config class="config__key" label="Set Correct Answer Key" ng-model="config.keys.correct"></key-config>
	<key-config class="config__key" label="Set Wrong Answer Key" ng-model="config.keys.wrong"></key-config>
	<key-config class="config__key" label="Set Finish Game Key" ng-model="config.keys.finish"></key-config>
</div>